-var photo = 'background-image:  url("data:image/png;base64,'+photos[0].buffer+'"); background-position: center; background-repeat: no-repeat; background-size: cover;';
-if(photos[0].comments.length>0){
  -var comment = photos[0].comments[0].text;
  -var nick = photos[0].comments[0].nick;
  -var url = "/profile?q="+photos[0].comments[0].id_user_add;
-}
-photos[0].title="profilowe";
doctype html
html
  head
    title Fotolia
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/photos_style.css')
    link(href='http://fonts.googleapis.com/css?family=Aladin&subset=latin,latin-ext' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
  body
    #nav
        ul
          li 
            a(href="/profile" ) mój profil
          li
            a(href="/photos" id="hire") zdjęcia
          li
            a(href="/liked-you") lubią cię
          li
            a(href="/message") wiadomości
          li
            a(href="/you-favourite") twoi ulubieni
          li
            a(href="/settings") ustawienia
          li
            a(href="/logout") wyloguj
          li
            h1 Fotolia
        
  #frame1.transparent.frame
      button.exit#exit1
          p X
      div
        p czy na pewno? 
        form(method="post", action="", name="form2", enctype="multipart/form-data")
        button#ok.button ok
  #frame2.transparent.frame
      button.exit#exit2
          p X 
      div
          form(method="post", action="", enctype="multipart/form-data", name="form1")
              input(type="text" name="description" placeholder="Tytuł") 
              br
              input(type="file" name="picture" multiple) 
          button#send.button wyślij 
  #container 
      h1#photo_title=photos[0].title
      button.button#button1
        a(href="/newphoto") dodaj
      button.button#button2
        a(href="/delete") usuń
      -if(photos.length>1)
        button#arrow1.transparent
          i(class="fa fa-arrow-left" aria-hidden="true")
        button#arrow2.arrow
          i(class="fa fa-arrow-right" aria-hidden="true")            
      div#photo(style=photo)
          -if(photos[0].comments.length>0){
              div#komentarz
                  a#nick(href=url) #{nick}
                  p#comment=comment
                  button#arrow3.transparent
                    i(class="fa fa-arrow-left" aria-hidden="true")                
                    -if(photos[0].comments.length==1){
                      button#arrow4.transparent
                        i(class="fa fa-arrow-right" aria-hidden="true")
                    -}else{             
                      button#arrow4.arrow
                        i(class="fa fa-arrow-right" aria-hidden="true")
                    -}
         -}else{
             div#komentarz.transparent
                 a#nick(href=url)=nick
                 p#comment=comment
                 button#arrow3.transparent
                   i(class="fa fa-arrow-left" aria-hidden="true")                
                   -if(photos[0].comments.length==1){
                     button#arrow4.transparent
                       i(class="fa fa-arrow-right" aria-hidden="true")
                   -}else{             
                     button#arrow4.arrow
                       i(class="fa fa-arrow-right" aria-hidden="true")
                   -}
        -}
      p=error      
  #footer
      a(href="/O_Nas") O Nas
      a(href="/Regulamin") Regulamin
      a(href="/Cookies") Polityka plików cookies
      a(href="/Kontakt_Pomoc") Kontakt i pomoc
      
        
    script(type='text/javascript').
      var photos = !{JSON.stringify(photos)};
      var countComment = 1 ;
      var countPhoto = 0;
      var photo="";
      
      function nextComment(){
            document.getElementById("nick").innerHTML=photos[countPhoto].comments[countComment].nick;
            document.getElementById("nick").href="/profile?q="+photos[countPhoto].comments[countComment].id_user_add;
            document.getElementById("comment").innerHTML=photos[countPhoto].comments[countComment].text;
            countComment++;
          if(photos[countPhoto].comments.length<countComment+1){
            document.getElementById("arrow4").className="transparent";
            countComment--;
          }
          if(document.getElementById("arrow3").className=="transparent"){
              document.getElementById("arrow3").className="arrow";
          }
      } 
      
      function previousComment(){
          countComment--;
          document.getElementById("nick").innerHTML=photos[countPhoto].comments[countComment].nick;
          document.getElementById("nick").href="/profile?q="+photos[countPhoto].comments[countComment].id_user_add;
          document.getElementById("comment").innerHTML=photos[countPhoto].comments[countComment].text;
        if(1>countComment){
          document.getElementById("arrow3").className="transparent";
          countComment++;
        }
        if(document.getElementById("arrow4").className=="transparent"){
            document.getElementById("arrow4").className="arrow";
        }
      }
      
      function nextPhoto(){
          countPhoto++;
            console.log(countPhoto);
           photo = 'background-image:  url("data:image/png;base64,'+photos[countPhoto].buffer+'"); background-position: center; background-repeat: no-repeat; background-size: cover;';
          document.getElementById("photo").style=photo;
          document.getElementById("photo_title").innerHTML=photos[countPhoto].title;
          if(countPhoto==photos.length-1){
            document.getElementById("arrow2").className="transparent";
          }
          if(document.getElementById("arrow1").className=="transparent"){
            document.getElementById("arrow1").className="arrow";
          }
          document.getElementById("komentarz").className="transparent";
          if(photos[countPhoto].comments[0].nick){
            document.getElementById("nick").innerHTML=photos[countPhoto].comments[0].nick;
            document.getElementById("nick").href="/profile?q="+photos[countPhoto].comments[0].id_user_add;
            document.getElementById("comment").innerHTML=photos[countPhoto].comments[0].text;
            if(document.getElementById("komentarz").className=="transparent"){
                  document.getElementById("komentarz").className="";
            }
          }
    
          
      }
      
      function previousPhoto(){
            countPhoto--;
            console.log(countPhoto);
            photo = 'background-image:  url("data:image/png;base64,'+photos[countPhoto].buffer+'"); background-position: center; background-repeat: no-repeat; background-size: cover;';
           document.getElementById("photo").style=photo;
           document.getElementById("photo_title").innerHTML=photos[countPhoto].title;
           if(countPhoto==0){
             document.getElementById("arrow1").className="transparent";
           }
           if(document.getElementById("arrow2").className=="transparent"){
             document.getElementById("arrow2").className="arrow";
           }
          document.getElementById("komentarz").className="transparent";
           if(photos[countPhoto].comments[0].nick){
             document.getElementById("nick").innerHTML=photos[countPhoto].comments[0].nick;
             document.getElementById("nick").href="/profile?q="+photos[countPhoto].comments[0].id_user_add;
             document.getElementById("comment").innerHTML=photos[countPhoto].comments[0].text;
             if(document.getElementById("komentarz").className=="transparent"){
                   document.getElementById("komentarz").className="";
             }
           }
       }
        function deleteP (){
          deletePhoto(photos[countPhoto].id_photo);
        }
        
        document.getElementById("ok").addEventListener("click", deleteP);
    
   script(src="/javascripts/photo.js")
      
